/*
blue light: #75f4ff
blue mid: #3bd0f4
blue dark: #00ace9
*/

/*@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --grey-dark: #333333;
  --white: #ffffff;
  --padding-s: 10px;
  --padding-m: 16px;
}

body {
  font-family: SecondaryVariableFont, serif;
}

/* Section labels */
h3 {
  font-family: PrimaryVariableFont, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 1px;
  border-bottom: 1px solid #00ace9;
  margin-bottom: -0.4em;
  /* outline: 1px solid red; */
}

a:link {
  --link-color: #004fe9;
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--link-color);
}

a:visited {
  --link-visited-color: #003294;
  color: var(--link-visited-color);
  border-bottom-color: var(--link-visited-color);
}
a:hover, a:focus {
  --link-hover-color: #004fe9;
  color: var(--link-hover-color);
  border-bottom-color: var(--link-hover-color);
  background: #cceefb;
}
a:active {
  --link-active-color: #004fe9;
  color: var(--link-active-color);
  border-bottom-color: var(--link-active-color);
  background: #e6f7fd;
}

img {
  border-radius: 5px;
}

@media (min-width: 760px) {
  /* changes for ipad/tablet sizes */
  h3 {
    font-size: 3rem;
  }

  h5 {
    font-size: 2.3rem;
    padding-top: 10px;
  }

  p, a {
    font-size: 1.5rem;
  }
}

.screen {
  /* background-color: var(--white); */
  border: 1px none;
  width: 100%;
  position: relative;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 var(--padding-m);
  /* outline: 1px solid green; */
}

@media (min-width: 760px) {
  /* changes for ipad/tablet sizes */

  header {
    display: flex;
    flex-direction: row-reverse;
  }

  header img:nth-child(2) {
    width: 70%;
  }

  header img:nth-child(3) {
    width: 30%;
  }
  
  .bio-section {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    margin-top: 4em;
  }
  .bio-section h3 {
    /* To move "About Me" to line up with 
       the top of the bio picture */
    margin-top: 0;
    /* outline: 1px solid coral; */
  }
  .bio-text {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  /* changes for desktop sizes */
  .bio-section {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    gap: 4em;
  }
}

@media (min-width: 760px) {
  /* changes for ipad/tablet sizes */

  /* put boxes side by side */
  .row {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    /* outline: 2px solid blue; */
  }
}

.social-media-button {
  position: absolute;
  top: 10px;
  right: var(--padding-m);
  width: 60px;
}

.issue {
  outline: 1px solid #75f4ff;
  background: linear-gradient(165deg, #3bd0f4, #9198e5);
  padding: 0 10px 1px 10px;
  border-radius: 5px;
  width: 100%;  /* This is a flex item */
}

@font-face {
  font-family: PrimaryVariableFont;
  src: url("font/Pacifico-Regular.ttf");
}

@font-face {
  font-family: SecondaryVariableFont;
  src: url(font/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
  font-family: SecondaryItalicVariableFont;
  src: url(font/EBGaramond-Italic-VariableFont_wght.ttf);
}
