/*
blue light: #75f4ff
blue mid: #3bd0f4
blue dark: #00ace9

maybe use a better font than inconsolata, maybe more rounded and friendlier
*/

/*@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --grey-dark: #333333;
  --white: #ffffff;
  --padding-s: 10px;
  --padding-m: 16px;
}

body {
  font-family: SecondaryVariableFont, serif;
}

/* Section labels */
h3 {
  font-family: PrimaryVariableFont, sans-serif;
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 1px;
  border-bottom: 1px solid #00ace9;
  margin-bottom: -0.4em;
  /* outline: 1px solid red; */
}

p {
  /* outline: 1px solid orange; */
}

a:link {
  --link-color: #004fe9;  /* blue;  #00ace9; */
  color: var(--link-color); /* find a better blue color */
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--link-color);
}

a:visited {
  --link-visited-color: #003294; /* #00678c; */
  color: var(--link-visited-color);
  /* border-bottom: 1px solid var(--link-visited-color); */
  border-bottom-color: var(--link-visited-color);
  /* background: coral; */
}
a:hover {
  --link-hover-color: #004fe9;  /* blue;  #00ace9; */
  color: var(--link-hover-color);
  border-bottom-color: var(--link-hover-color);
  background: #00ace9;
  background: #cceefb;
}
a:active {
  --link-active-color: #004fe9;  /* blue;  #00ace9; */
  color: var(--link-active-color);
  border-bottom-color: var(--link-active-color);
  background: #e6f7fd;
}

img {
  border-radius: 5px;
}

@media (min-width: 1024px) {
  /* changes for desktop sizes */
  h5 {
  }
}

.screen {
  /* background-color: var(--white); */
  border: 1px none;
  width: 100%;
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 var(--padding-m);
  /* outline: 1px solid green; */
}

.two-box-split {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em; /* mobile: vertical space between 2 boxes */
  width: 100%;
  position: relative;
  /* outline: 1px solid fuchsia; */
}

@media (min-width: 1024px) {
  /* changes for desktop sizes */

  /* put boxes side by side */
  .two-box-split {
    flex-direction: row;
    justify-content: center;
    gap: 10vmin;
    /* outline: 2px solid blue; */
  }
}

.social-media-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
}

.issue-section {
  /* outline: 1px solid red; */
}

.issue {
  outline: 1px solid #75f4ff;
  /* background: #3bd0f4; */
  background: linear-gradient(165deg, #3bd0f4, #9198e5);
  padding: 0 10px 1px 10px;
  border-radius: 5px;
}

.issue-pic {
}

@font-face {
  font-family: PrimaryVariableFont;
  src: url("font/Inconsolata-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: SecondaryVariableFont;
  src: url(font/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
  font-family: SecondaryItalicVariableFont;
  src: url(font/EBGaramond-Italic-VariableFont_wght.ttf);
}
